POSTGRES_USER=root
POSTGRES_PASSWORD=
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=n8n
POSTGRES_NON_ROOT_PASSWORD=

N8N_ENCRYPTION_KEY=
N8N_HOST=localhost
N8N_PROTOCOL=http
WEBHOOK_URL=http://localhost:5678/

GENERIC_TIMEZONE=Asia/Tokyo
TZ=Asia/Tokyo